.checkout-page *,
.checkout-page *::before,
.checkout-page *::after {
  box-sizing: border-box;
}
.checkout-form input {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: inherit;
}

.checkout-form input:focus {
  outline: none;
}

/* GRID LAYOUT */
.checkout-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width:100%;
  align-items: flex-start;
}

.checkout-title {
  font-size:6vh;
  font-weight: 500;
}

/* RIGHT COLUMN */
.checkout-right {
  width:39vw;
}

/* FORM */
.checkout-form {
  width:100%;
  align-items: center;
}

.checkout-section {
  margin-bottom:25px;
}

.checkout-section h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 12px;
}

/* INPUTS */
.checkout-form input[type="text"],.checkout-form input[type="number"],
.checkout-form input[type="email"] {
  width: 100%;
  border: 1px solid #989898;
  padding: 10px 14px;
  font-size: 0.8rem;
  margin-bottom: 12px;
  background: transparent;
  color: #000;
}

/* hide native checkbox */

.save-info input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.save-info span {
  position: relative;
  display: inline-flex;
  align-items: center;
}

/* label */
.save-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
}

/* box */
.save-info span::before {
  content: "";
  width: 22px;
  height: 22px;
  border: 1.5px solid #000;
  background: #fff;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  box-sizing: border-box;
}

.save-info input[type="checkbox"]:checked + span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  border: solid #000;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
  left: 6.5px;
  top: 2.5px;
}


.checkout-form input::placeholder {
  font-family:"MashiFontBold";
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  color: #000;

}

/* ROWS */
.row {
  display: grid;
  gap: 14px;
}

.row.two {
  grid-template-columns: 1fr 1fr;
}

.row.three {
  grid-template-columns: 1fr 1fr 1fr;
}

/* CHECKBOX */
.save-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  margin-top: 6px;
}

/* PAY BUTTON */
.pay-button {
  margin-top:40px;
  width:95%;
  padding:5%;
  font-size:6.5vh;
  border: 2px solid #424242;
  background: transparent;
  border-radius: 100%/100%;
  cursor: pointer;
  color: #000;
  align-self: flex-start;
}
/* MOBILE */
@media (max-width: 768px) {
  .checkout-page {
    padding: 20px 16px 80px;
  }

  .checkout-section{
    margin-bottom:10px;
  }

  .checkout-layout {
    grid-template-columns: 1fr;
    gap:20px;
  }

  .checkout-title {
    font-size: 2.3rem;
  }
   
  .checkout-right {
    max-width:100%;
    width:100%;
    padding-left:0;
  }

  .checkout-section h2 {
  font-size: 1.2rem;
  font-family:"MashiFontBold";
}

.checkout-form input::placeholder {
  font-family:"MashiFont";
  font-size: 0.65rem;
  letter-spacing: 0.04em;
  color: #000;

}

.checkout-form input[type="text"],.checkout-form input[type="number"],
.checkout-form input[type="email"] {
  padding: 15px 14px;
  
}

.pay-button {
    font-size:2rem;
    width:100%;
  }
}

































